@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
canvas{
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    
    /* background-color: rgb(139, 87, 9);  background-color: rgb(139, 87, 9); */
    background: radial-gradient(rgb(150, 200, 150), rgb(50, 100, 50));

}
.cursor{
    cursor: url(../assets/images/aim.png), default;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }